<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="sp0425.aop"></context:component-scan>
	
	<bean id="myAspect" class = "sp0425.aop.aspect.MyAspect">
	</bean>
	
	<aop:config>
		<!-- 공통코드 모아둔것 aspect -->
		<aop:aspect id = "myAspectDecl" ref="myAspect">
			<!-- pointcut은 대상 / execution이 기본 / (..)는 파라미터가 있건 없건 상관없다는 의미
			<aop:pointcut expression="execution(* sayHello(..))" id="pc"/>
			method 작성할 때 뒤에 () 붙이지 않기!
			<aop:before pointcut-ref="pc" method="printBefore"/>  -->
			<aop:before pointcut="execution(* sayHello(..))" 
						method="printBefore"/>
		</aop:aspect>
	</aop:config>
</beans>
